@charset "UTF-8";
body {font-family:Verdana, Geneva, Tahoma, sans-serif;}
a {color:inherit;}
h2 {font-family: 'Song Myung', serif; font-size:35px; text-align:center;}
.inner {max-width:1040px; margin:auto;}
ul::after {display:block; content:''; clear:both;}


/* header */
header {position:fixed; top:0; left:0; width:100%; font-weight:bold; background:#fff; color:#666; z-index:1;}
header > * {position:relative;}
.side_nav {height:50px;}
.side_nav ul {display:block; float:right;}
.side_nav li {display:inline-block; padding:0 10px; margin-top:15px;}
.side_nav li:nth-child(2) {border-left:2px solid gray; border-right:2px solid gray;}

nav {border-top:1px solid #FAF9F5; border-bottom:1px solid #FAF9F5;}
nav > .inner {margin:10px auto;}
nav span, nav li {display:inline-block; text-align:center; margin:10px 30px;}
nav ul {display:inline;}
nav li {font-size:20px;}
.gnb li:nth-child(2) {padding-left:12px;}
.gnb li:nth-child(5) {padding-left:5px;}

.gnbSubWrap {border-top:1px solid hwb(48 96% 2%); position:absolute; width:100%; height:250px; background:#fff; display:none;}
.gnbSubWrap img {width:195px; height:195px;}
.gnbSubBox {width:1100px; text-align:center; margin:0 auto;}
.gnbSubBox > ul {float:left;}

.gnbSubBox a {font-size:13px; display:block; line-height:25px; color:#797979;}
.gnbSubBox li {white-space:nowrap;}
.gnbSubBox > ul:nth-of-type(1) {margin-left:120px; width:160px;}
.gnbSubBox > ul:nth-of-type(2) {width:100px;}
.gnbSubBox > ul:nth-of-type(3) {width:130px;}
.gnbSubBox > ul:nth-of-type(4) {width:140px;}
.gnbSubBox > ul:nth-of-type(5) {width:160px;}


/* slider_banner */
.slider_wrap {position:relative;}
.slider {width:1100px; overflow:hidden; margin:auto;}
.slider li {float:left; width:1100px;}
.slider img {width:100%; margin-top:157px;}

.main_btns button, .playbox {position:absolute; border:0; cursor: pointer;}
.prev_main, .next_main {width:64px; height:64px;}
.prev_main {background:url('../img/prev_main.svg') no-repeat; top:350px; left:100px;}
.next_main  {background:url('../img/next_main.svg') no-repeat; top:350px; right:100px;}
.stop_main, .play_main {background:none;  top:520px; left:200px;}
.play_main img {display:none;}
.stop_main img, .play_main img {width:38px; height:40px; z-index:10;}
.playbox {top:520px; left:150px; width:100px; height:42px; background:rgba(106, 104, 89, .5); border-radius:40px;}
.num {color:#fff; z-index:10;}

/* product */
.product {position:relative; width:1100px; height:484px; background:#EBE2D3; margin:auto; text-align:center; margin-top:100px;}
.product div {display:inline-block;}
.product h2 {font-size:4em; margin-top:60px;}
.product img {margin-top:50px; width:195px; height:195px;}
.product_new {float:left; width:352px; height:484px; background:#AD9582; color:#fff; font-weight:bold;}
.product span {display:block; margin-top:10px; font-size:20px;}


.product_hot {margin-top:0; width:700px;}
.product_hot h2 {color:#402c10;}
.hot_menu {display:flex; justify-content:space-between; width:556px; height:275px; overflow:hidden;}
.product_hot li {display:inline-block; margin:0 40px;}

.product_hot button {width:40px; height:40px; border:none; cursor: pointer;}
.prev {background:url('../img/left.svg') no-repeat; margin-left:0;}
.next {background:url('../img/right.svg') no-repeat;}

/* menu_list */
.menu_list {position:relative; width:1100px; line-height:2; margin:auto; border:1px solid #EBE2D3; border-top:none; margin-bottom:100px; text-align:center;}
.menu_list span {display:block;}
.menu a {font-weight:bold; color:#666;}

.brandStory {position:absolute; top:40px; width:352px; height:260px; color:#84664d; padding:10px}

.menu {margin-left:350px; border-left:1px solid #EBE2D3;}
.menu li {float:left; width:186px; height:130px; padding-top:10px;}
.menu li:nth-child(2n-1) {border-right:1px solid #EBE2D3;}
.menu li:nth-child(1) {border-bottom:1px solid #EBE2D3;}
.menu li:nth-child(2) {border-right:1px solid #EBE2D3; border-bottom:1px solid #EBE2D3;}
.menu li:nth-child(3) {border-bottom:1px solid #EBE2D3;}
.menu li:nth-child(4) {border-bottom:1px solid #EBE2D3;}
.menu li:nth-child(6) {border-right:1px solid #EBE2D3;}


/* brand_video */
.brand {position:relative; background:url('../img/bg_main_brand.png') no-repeat top center/ 100%; text-align:center;}
.brand h2 {padding-top:100px;}
.brand_video iframe {width:900px; height:512px; margin:100px auto;}


/* info */
.info {display:flex; margin:50px auto 100px; width:1100px;}
.info h3 {font-size:1.5em; font-weight:bold; margin-bottom:20px; color:#2d2d2d;}
.info > div {flex:1; height:300px;}

.event {width:700px;}
.event_img {width:700px; height:300px; overflow:hidden;}
.event_img li {display:block; width:700px; height:300px;}
.event_img img {width:100%;}

.news {margin-left:10px; width:320px;}
.news h3 {margin:0 0 25px 10px;}
.news_info {padding:15px 0 15px 10px;}
.news_info:nth-of-type(1) {border-top:1px solid #AC9583;}
.news_info:nth-of-type(2) {border-top:1px solid #AC9583; border-bottom:1px solid #AC9583;}
.news img {width:130px; height:80px;}
.news_text {display:inline-block; line-height:1.5; margin-left:5px;}
.news_text span {display:block; font-weight:bold;}
.title, .day {font-size:14px; color:#9b9b9b;}


/* guide */
.guide {display:flex; width:1100px; height:390px; margin-bottom:80px;}
.guide h2 {margin-top:60px; transform:scale(1); opacity:1;}
.guide > div:hover h2 {transform:rotateX(180deg); opacity:.5;}
.place, .franchise {flex:1; width:550px; height:390px;}
.place_info, .place_icon {display:inline-block;}

.place {background:url('../img/bg_main_store.jpg'); color:#fff;}
.place input {height:50px; border:none; border-bottom:3px solid #fff; background:transparent; font-weight:bold; font-size:1em;}
.place_store {margin-top:60px;}
.place_store input { width:310px;}
.place_area input {width:149px;}
.place_area, .place_store {margin-left:90px;}
.place input[type="text"], .place input::placeholder {color:#fff;}
.place_icon {display:inline-block; width:60px; height:60px; background:#fff; border-radius:60px; margin:20px 0 0 10px;}
.place_icon span {display:block; margin:20px 20px 0; color:#84664d; font-size:20px;}

.franchise {background:url('../img/bg_main_franchise.jpg'); text-align:center;}
.franchise_info {margin-top:60px; line-height:1.3;}
.franchise span {margin-top:20px; font-size:1.5em;}
.franchise_info span {display:block;}
.franchise_icon {display:inline-block; width:50px; height:50px; background:#7b6251; border-radius:50px;}
.franchise_text {margin:20px 0 0 10px; vertical-align:baseline;}
.franchise_icon span {display:block; color:#fff; margin-top:8px; font-size:30px;}


/* sns */
.sns::before {display:block; content:''; height:60px; background:url('../img/bg_main_sns_top.jpg') no-repeat top/ 100%; clear:both;}

.sns {position:relative; text-align:center; background:#FAF9F5; height:350px;}
.sns h2 {margin-top:30px;}
.sns span {display:inline-block; width:60px; height:60px; margin-top:30px; border:2px solid #AD9582; border-radius:60px;}
.sns img {height:30px; margin-top:15px;}
.sns span:nth-child(2) {margin-right:10px;}
.sns span:nth-child(3) {margin-right:10px;}
.sns span:nth-child(4) {margin-right:10px;}


/* img_banner */
.img_banner {display:flex; background:#FAF9F5;}
.img_banner span {flex:1;}
.img_banner img {width:100%;}


/* footer */
footer::before {display:block; content:''; height:100px; background:url('../img/bg_main_sns_bottom.jpg') no-repeat center bottom/ 100%; background-color:#FAF9F5; clear:both;}

.footer_top {display:block; border-top:1px solid #FAF9F5; border-bottom:3px solid #FAF9F5;}
.footer_top li {display:inline-block; max-width:100%; padding:15px 10px; font-weight:bold;}

.footer_bottom {display:flex; justify-content:space-between; height:84px; margin:20px auto 50px; color:#5f5f5f;}
