@charset "UTF-8"; 

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

li {
  list-style:none;
}
a {
  text-decoration:none;
  color:inherit;
}

body { font-family:"GangwonEdu_OTFBoldA",Verdana, Geneva, Tahoma, sans-serif;}

nav {background:rgba(164, 208, 164, .8);}
nav h2 {color:#405238;}

.dropdown-item > .bold, .nav-item {font-weight:700; }
.main-menu .dropdown-item {font-size:90%;}
.nav-item { font-size:17px;}

.login a {opacity:1;}
.login a:hover {opacity:.6;}

.visual_in {
  height:600px;
  background: url('../img/main.jpg') no-repeat center center / cover;
  transition:0.3s;
}
.text_in {
  white-space:nowrap;
  max-width: 500px;
}
.text_in h2 { font-size:1.7rem;} 
.text_in p { font-size:1rem; color:#6d6d6d}


section { margin: 80px 0; }
section h2 {font-weight: 700; }

section img {width:100%}
section p {font-weight:300; font-size:14px}

.section1 {background: #fff9f0;}
.section1 p {color:#666;}
section strong {font-family: 'Alexandria', sans-serif; font-weight:500;  color:#fff;}

.banner_in { height:500px; opacity:.9;
  background:#617a55 url('../img/banner.jpg') center center /cover;}
.banner_con > * { padding-right:0; padding-left:0;} 

.banner_con a  { opacity: .3; transition: .3s; }
.banner_con a:hover { opacity: 1;}

.arrow {font-size:50px; opacity: 0.5; color:#405238;}

footer {background:#617a55;}
.f_info {color:#bbb;}


/*  1199px 미만  lg*/
@media (max-width:1199px){
}

@media (min-width:770px) {
  .card img {}
}

/*  992px 미만*/
@media (max-width:991px){
  .visual_in { height:400px; }
  .banner_in { height:200px;}
}


/*  768px 미만*/
@media (max-width:767px){
  .text_in h2 { font-size:1.2rem; }

}